#changePasswordHeader {
    margin: 20px auto auto auto;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-bottom: 5px solid white;
}

#changePasswordForm {
    border: 4px solid black;
    width: 300px;
    height: 300px;
    margin: 50px auto 0 auto;
}

#changePasswordForm form {
    text-align: center;
}

#changePasswordForm form input {
    width: 250px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
}
.changePasswordSubmit
{
    background-color: black;
    color: white;
    font-size: 20px;
}
.changePasswordSubmit:hover
{
    background-color: gray;
    color: white;
}
