body {
    background-color: cornflowerblue;
    margin: 0;
}
#header {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #3b5998;
    color: white;
    border-bottom: 3px solid white;
}

form input
{
    width: 200px;
    height: 30px;
    margin: 5px auto auto auto;
}

#menuForm
{
    margin: 5px auto auto auto;
    width: 250px;
    height: 500px;

}
